<div class="jumbotron bg-dark text-white">
    <div class="row">
<div class="col-sm-3">
    <h2 class="text-info">About Company:</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, aperiam voluptates provident illum officiis mollitia! Voluptatibus libero sunt, ab sint vitae consequatur dolor ullam ratione. Reiciendis nihil facere sunt ipsam.</p>
</div>

        <div class="col-sm-2">
            <h2 class="text-info">Address:</h2>

            <p>India</p>
            <p>Hyderabad</p>
            <p>LB nagar</p>
        </div>
        <div class="col-sm-2">
            <h2 class="text-info" >Contact us:</h2>

               <p>123456789</p>
               <p>www.dummy.org</p>
               <p>www.dummy@gmail.com</p>
        </div>
        <div class="col-sm-2">
            <h2 class="text-info">Follow us:</h2>
            <i class="fa fa-instagram" aria-hidden="true">    Instgram</i>  <br>
            <i class="fa fa-facebook-square" aria-hidden="true">     Facebook</i> <br>
            <i class="fa fa-github" aria-hidden="true"></i>     Github <br>
            <i class="fa fa-twitter-square" aria-hidden="true">    Twitter</i>
            
        </div>
        <div class="col-sm-3">
            <div>
            <h2 class="text-info">Google Map:</h2>

                <div class="mapouter"><div class="gmap_canvas"><iframe width="196" height="120" id="gmap_canvas" src="https://maps.google.com/maps?q=hyderabad&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://embedgooglemap.net/137/"></a></div><style>.mapouter{position:relative;text-align:right;height:164px;width:196px;}.gmap_canvas {overflow:hidden;background:none!important;height:164px;width:196px;}</style></div>
            </div>
        </div>
    </div>
    <hr class="bg-info">
    <h3 class="text-center"> All Copyrights are reserved@2020</h3>
</div>