

        <div class="container jumbotron">
            <h1 class="text-center display-4">COMPANY DETAILS</h1>
            <div class="card">
                <div class="card-body">
                    <p>Id:{{myData.id}}</p> 
                    <!-- <p>Description:{{myData.description}}</p>  -->
                    <P>Location:{{myData.location}}</P>
                    <P>Url:{{myData.company_url}}</P>
                    <!-- <p>Apply:{{myData.how_to_apply}}</p>  -->
                    <p>How to Apply :{{myData.how_to_apply}}</p>
                </div>
            </div>
        
        </div>


 


